{% extends 'app/base.html' %}            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" frameborder="0" class="giphy-embed" width="200" height="200" allowfullscreen></iframe></div>

{% block title %}Password Change Successful{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="mb-4">Welcome {{user.username}}</h3>
        <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
        </ul>
        </div>
        <div class="col-sm-9 offset-sm-3 text-center">
            <h3>Password Changed Successfully</h3>
            <p>Your password has been successfully updated.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
        </div>
    </div>
</div>
{% endblock main-content %}
