{% extends 'app/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Forgot Password</h3>
            <hr>
            <p class="mb-3">Enter your registered email address to receive a password reset link.</p>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group mb-3">
                    {{ fm.label_tag }} {{ fm }} 
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Send Reset Link" class="btn btn-primary mt-4"><br>
                <div class="text-center text-primary fw-bold mt-3">
                    <small><a href="{% url 'login' %}" class="text-danger">Back to Login</a></small>
                </div>
            </form>
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}
